<header class="header black-bg">
  <nav class="navbar navbar-inverse">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" routerLink="/dashboard">
                  <span class="pe-7s-gleam bounce-in"></span>
                  <h1>BUDGET GURU</h1>
              </a>
          </div>
      </div>
      
  </nav>
</header>
<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>

      <p class="text-center">Please enter your email address to request a password reset.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span style="color: black;">Go back to ? <span style="color: black;"class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>

  </div>
</div>