
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);
@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';


  .nav>li {
    display: inline-block;
}
.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #222;
    font-family: Lato, sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, sans-serif;
    font-weight: 700;
}

a {
    color: #222;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

.btn {
    font-weight: 400;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #d9534f;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

body > section {
    padding: 50px 0;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16/9 ratio */
    padding-top: 30px;
    /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-title {
    text-transform: uppercase;
}



#main-slider {
    position: relative;
    z-index: 5;
    color: #fff;
}

#main-slider .carousel-inner {
    overflow: visible;
}

.backstretch:before {
    content: '';
    
    min-width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: -1;
}

#main-slider .carousel h2 {
    font-size: 44px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-top: 370px;
}

#main-slider .carousel .btn {
    border: 5px solid rgba(255, 255, 255, 0.9);
    color: #fff;
    border-radius: 0;
    margin-top: 35px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
    z-index: 10px;
}

#main-slider .carousel .btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #202020;
}

#main-slider .carousel .boxed {
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-transform: uppercase;
}

#main-slider .carousel .item {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    height: 600px;
    -webkit-transition: opacity ease-in-out 500ms;
    -moz-transition: opacity ease-in-out 500ms;
    -o-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
    top: auto;
    position: relative;
}

#main-slider .carousel .item.active {
    opacity: 1;
    -webkit-transition: opacity ease-in-out 500ms;
    -moz-transition: opacity ease-in-out 500ms;
    -o-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    z-index: 1;
}

#single-page-slider {
    padding-top: 150px;
}

#single-page-slider .carousel {
    z-index: 5 !important;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}


/*-----------------------------------------------------------------------------------*/


/*  Slider
/*-----------------------------------------------------------------------------------*/

#main-slider-page {
    min-height: 350px;
    z-index: 2 !important;
}






/* Start: Recommended Isotope styles */


/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}


/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: 0 opacity;
    -moz-transition-property: 0 opacity;
    -ms-transition-property: 0 opacity;
    -o-transition-property: 0 opacity;
    transition-property: transform, opacity;
}


/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
}

.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.project-controls {
    position: absolute;
    bottom: 0;
    left: 0;
}

.project-controls span {
    position: relative;
    bottom: 70px;
    font-size: 60px;
    display: block;
}

.project-controls span:hover {
    cursor: pointer;
}

div.pp_overlay {
    z-index: 9999 !important;
}


/*-----------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------*/


/*  Navigation
/*-----------------------------------------------------------------------------------*/

.navbar-inverse {
    background-color: #202020;
    opacity: 0.9;
    border: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    
}

.navbar-inverse .navbar-toggle {
    background-color: transparent;
    color: #fff;
}

.navbar-fixed-top {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-inverse .navbar-brand {
    font-family: Lato, sans-serif;
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.navbar-inverse .navbar-nav {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.navbar-inverse .navbar-nav > li > a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    
    letter-spacing: 0;
    font-size: 15px;
    padding: 10px;
    color: #f5f5f5;
    font-weight: 700;
    text-shadow: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
}

.navbar-inverse .navbar-nav > li > a::before,
.navbar-inverse .navbar-nav > li > a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity .3s 0 .3s;
    -moz-transition: opacity .3s 0 .3s;
    transition: opacity .3s transform .3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a:hover::before,
.navbar-inverse .navbar-nav > li > a:focus::before,
.navbar-inverse .navbar-nav > li > a:hover::after,
.navbar-inverse .navbar-nav > li > a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
    display: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a::before,
.navbar-inverse .navbar-nav > li > a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transition: opacity .3s 0 .3s;
    -moz-transition: opacity .3s 0 .3s;
    transition: opacity .3s transform .3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
}


.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-top: 0;
}

.opaqued {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}
.navbar-brand h1 {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    margin-top: 4px;
}




/*  PARALLAX
/*-----------------------------------------------------------------------------------*/

.divider-section {
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
    display: block;
    color: #f5f5f5;
}

.divider-section a {
    color: #f5f5f5;
}


/*-----------------------------------------------------------------------------------*/


/*  BUTTONS
/*-----------------------------------------------------------------------------------*/

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}

.btn-outlined.btn-primary {
    background: none;
    border: 2px solid #00b29e;
    color: #00b29e;
}

.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: #00b29e;
    border-color: #00b29e;
}

.btn-outlined.btn-success {
    background: none;
    border: 2px solid #5cb85c;
    color: #5cb85c;
}

.btn-outlined.btn-success:hover,
.btn-outlined.btn-success:active {
    color: #FFF;
    background: #47a447;
}

.btn-outlined.btn-info {
    background: none;
    border: 2px solid #5bc0de;
    color: #5bc0de;
}

.btn-outlined.btn-info:hover,
.btn-outlined.btn-info:active {
    color: #FFF;
    background: #39b3d7;
}

.btn-outlined.btn-warning {
    background: none;
    border: 2px solid #f0ad4e;
    color: #f0ad4e;
}

.btn-outlined.btn-warning:hover,
.btn-outlined.btn-warning:active {
    color: #FFF;
    background: #ed9c28;
}

.btn-outlined.btn-danger {
    background: none;
    border: 2px solid #d9534f;
    color: #d9534f;
}

.btn-outlined.btn-danger:hover,
.btn-outlined.btn-danger:active {
    color: #FFF;
    background: #d2322d;
}

.btn-outlined.btn-white {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.btn-outlined.btn-white:hover,
.btn-outlined.btn-white:active {
    color: #00b29e;
    background: #fff;
}


.no-display {
    opacity: 0;
}

.appear {
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}




.backstretch {
    z-index: 3 !important;
}



.mb0 {
  margin-bottom: 0 !important;
}

.section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-inner.gap {
  margin-bottom: 0 !important;
}

.navbar-header h1 {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.navbar-inverse .navbar-nav {
  margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    letter-spacing: 1px;
    font-size: 15px;
    padding: 15px 15px 10px;
    color: #f5f5f5;
    font-weight: 400;
}


.btn {
    padding: 10px 16px;
    font-size: 13px;
    letter-spacing: 2px;
}

.form-control {
    height: 8px;
}




.overlay .btn-outlined.btn-primary {
  background-color: #fff;
  border-color: #fff;
}




.main-title {
    text-transform: uppercase;
    letter-spacing: 6px;
}

.section-heading p {
  text-transform: uppercase;
}

#content-wrapper {
  box-shadow: none;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    padding: 15px 15px 15px;
    color: #eee;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

#single-page-slider {
  min-height: 310px !important;
}

#main-slider .carousel .btn {
    border: 3px solid rgba(255, 255, 255, 0.9);
    color: #fff;
    border-radius: 0;
    margin-top: 35px;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 15px;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
    letter-spacing: 4px;
}

.backstretch:before {
    content: '';
    background-image: none !important;
    background-color: rgba(0,0,0,0.4)
}

#tagWrapper {
    text-align: right;
    margin: 40px 0;
}

.btn-sm, .btn-xs {
    padding: 5px 10px;
    font-size: 12px;
}
